<div class="container">
  <mat-card class="weather-content">
    <mat-card-header class="weather-header">
      <mat-card-title
        >Current Temperature: {{temparatureSubject$.value}} °F</mat-card-title
      >
    </mat-card-header>
    <mat-divider></mat-divider>
    <img [src]="imageSrc" class="weather-icon" />
    <mat-card-actions class="weather-content">
      
    <mat-form-field class="weather-form">
      <mat-select [(ngModel)]="selectedDay">
        <mat-option *ngFor="let day of weekdays" [value]="day">
          {{ day }}
        </mat-option>
      </mat-select>

      <mat-label>Input Temperature</mat-label>
      <input
        matInput
        type="text"
        (change)="setInputTemperature($event)"
        type="number"
      />
    </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="temperature-button"
        (click)="setTemperature()"
      >
        Set Temperature
      </button>
    </mat-card-actions>

  
    <div class="container">
      <mat-card class="weather-content">
        <mat-card-title class="weather-header"
          ><span
            >Current Temperature: {{ displayTemperatureText }}</span
          ></mat-card-title
        >
        <button
          *ngIf="!isCelsius"
          mat-raised-button
          color="primary"
          (click)="convertToCelsius()"
          class="temperature-button"
        >
          Convert To Celsius
        </button>
        <button
          *ngIf="isCelsius"
          mat-raised-button
          color="primary"
          (click)="convertToFahrenheit()"
          class="temperature-button"
        >
          Convert To Fahrenheit
        </button>

        <button
          mat-raised-button
          color="primary"
          class="temperature-button"
          (click)="addSubscription()"
        >
          Add New Subscription
        </button>
        <button
          mat-raised-button
          color="primary"
          class="temperature-button"
          (click)="removeSubscription()"
        >
          Remove Subscription
        </button>

      </mat-card>

      <mat-card *ngIf="!displayWeather.length" class="weather-content">
    <button
      mat-raised-button
      color="primary"
      class="temperature-button"
      (click)="getWeatherData()"
    >
      Get Beach Days
    </button>
    </mat-card>

  

    </div>
  </mat-card>

    <mat-card class="weather-content">
    <mat-card-title class="weather-header">
      <span *ngIf="!temperatureDataList.length">No Values Listed</span>
      <span *ngIf="temperatureDataList.length"
        >Replayed Subscription Values</span
      >

      <li *ngFor="let temp of temperatureDataList">{{ temp }} F</li>
    </mat-card-title>
     

  </mat-card>

  <mat-card class="weather-content" *ngFor="let weather of displayWeather">
    <mat-card-title class="weather-header-blue">
      Day: {{ weather.day }}
      Temperature: {{ weather.temperature }} F
    </mat-card-title>

  </mat-card>

</div>

<!-- Celsius To Fahrenheit  -->


